@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

.site-background {
  background-image: url("/site-background.jpeg");
  background-size: cover;
  background-position: center;
}

.nav-list li a {
  transition: all 0.3s ease;
}

.nav-list li a svg{
  transition: all 0.3s ease;
}


.nav-list li a:hover {
color: #9D3E3A;
}

.nav-list li a:hover svg {
  fill: #9D3E3A;
}

.cta {
  padding: 12px 20px;
  background-color:  #9D3E3A;
  color: white;
  border-radius: 20px;
  font-size: 1.5em;
  opacity: 0.8;
  font-family: 'Outfit';
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
  justify-content: space-evenly;
}

.cta:hover {
  opacity: 1;
}
