@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

.site-background {
  background-image: url("/site-background.jpeg");
  background-size: cover;
  background-position: center;
}

.nav-list li a {
  transition: all 0.3s ease;
}

.nav-list li a svg{
  transition: all 0.3s ease;
}


.nav-list li a:hover {
color: #9D3E3A;
}

.nav-list li a:hover svg {
  fill: #9D3E3A;
}

.cta {
  color: white;
  font-size: 3em;
  font-family: 'Outfit';
  font-weight: 700;
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
  justify-content: space-evenly;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.cta:hover {
  opacity: 1;
}

@media screen and (min-width: 1400px) {
  .cta {
    font-size: 4em;
  }
}
